<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<style>
    .app{
        width: 100%;
        height: 100%;

    }
    .el-scrollbar__wrap{overflow-x: hidden;}

     .el-table .warning-row {
         background: #c0ffc9;
     }

    .el-table .success-row {
        background: #ff8f81;
    }
    .el-scrollbar__wrap{overflow-x: hidden;}

</style>
<body >

    <div id="app" class="app">
        <!--        导航栏-->
        <el-row style="margin-bottom: 10px">
            <el-col :span="24">
                <div>
                    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect" style="float: bottom">
                            <a href="stock.html"><img src="/img/logo.jpg" style="width: 200px;height: 60px;float: left"></a>




                        <el-menu-item  ><span style="font-size: 25px">上证指数：</span><span id="dpType"  style="font-size: 25px">{{dp}}&nbsp;&nbsp;&nbsp;{{dpChange}} <i id="dpState" style="font-size: 25px" class=""></i></span></el-menu-item>
                            <el-menu-item style="margin-left: 10px">
                                <div class="grid-content bg-purple-dark" style="text-align: center">
                                        <el-input style="width: 200px"
                                                  placeholder="搜索股票(代码/名称)"
                                                  v-model="input"
                                                  size="mini"
                                                  clearable>
                                    </el-input>
                                        <el-button type="primary" @click="searchData('123')" size="mini" >搜索</el-button>
                                    </div>


                            </el-menu-item>




                            <el-menu-item index="1" @click.native="getAll()" style="margin-left: 50px">股票列表</el-menu-item>

                            <el-menu-item index="2" @click.native="getMyFav()" style="margin-left: 10px">我的自选</el-menu-item>

                            <el-menu-item index="3" style="margin-left: 10px">股票推荐</el-menu-item>

                        <div  style="float: right">
                            <el-dropdown>
                                <el-button type="primary">
                                    欢迎你：{{loginUser}}<i class="el-icon-arrow-down el-icon--right"></i>
                                </el-button>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item @click.native="confirmLogOut()">退出登录</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>

                        </div>


                    </el-menu>
                </div>
            </el-col>
        </el-row>






        <el-tabs :tab-position="tabPosition" :stretch="true" v-model="activeName" style="height: 100%" @tab-click="handleClick" >

                <el-tab-pane label="股票列表"  name="stockList">
                    <div>

                        <el-row >
                            <el-col :span="9"><div class="grid-content bg-purple-dark">
                                <div style="width: 750px">
                                    <el-divider content-position="left">股票列表</el-divider>
                                    <el-table size="small" current-row-key="id" :data="stockList"  stripe highlight-current-row>

                                        <el-table-column type="index" align="center" label="序号" width="100px"></el-table-column>

                                        <el-table-column prop="code" label="股票代码" align="center" width="100px"></el-table-column>

                                        <el-table-column prop="name" label="股票名称" align="center" width="100px"></el-table-column>

                                        <el-table-column prop="area" label="所属地区" align="center" width="100px"></el-table-column>

                                        <el-table-column prop="type" label="股票类型" align="center" width="100px"></el-table-column>

                                        <el-table-column label="操作" align="center" fixed="right" width="200px">
                                            <template slot-scope="scope">
                                                <el-button type="primary" size="mini" @click="getDataById(scope.row)">股票详情</el-button>
                                                <el-button type="success" @click="addFav(scope.row)" icon="el-icon-star-off" circle></el-button>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                    <div class="pagination-container" style="text-align: center;background: #f3f9ff" >

                                        <el-pagination
                                                class="pagiantion"

                                                @current-change="handleCurrentChange"

                                                :current-page="pagination.currentPage"

                                                :page-size="pagination.pageSize"

                                                layout="total, prev, pager, next, jumper"

                                                :total="pagination.total" >

                                        </el-pagination>

                                    </div>
                                </div>

                            </div></el-col>
                            <el-col :span="10" style="margin-left: 200px"><div class="grid-content bg-purple-dark">
                                <div>
                                    <el-divider content-position="left">股票市价总值排名前十名 </el-divider>
                                    <el-table size="small" current-row-key="id" :data="topList"  border  highlight-current-row>

                                        <el-table-column type="index" align="center" label="排名"></el-table-column>

                                        <el-table-column prop="code" label="股票代码" align="center"></el-table-column>

                                        <el-table-column prop="name" label="股票名称" align="center"></el-table-column>

                                        <el-table-column prop="value" label="市价总值（万元）" width="150px" align="center"></el-table-column>

                                        <el-table-column prop="percent" label="占市场比例 %" align="center"></el-table-column>

                                        <el-table-column label="操作" align="center" width="200px">
                                            <template slot-scope="scope">
                                                <el-button type="primary" size="mini" @click="getDataById(scope.row)">股票详情</el-button>
                                                <el-button type="success" @click="addFav(scope.row)" icon="el-icon-star-off" circle></el-button>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                    <el-divider content-position="left"><span>最后更新时间: <el-tag type="success">{{topDate}} </el-tag>(数据来自上交所)</span> </el-divider>

                                </div>

                            </div></el-col>
                        </el-row>
                    </div>




            </el-tab-pane>
            <el-tab-pane label="查询列表" v-if="hideSearch" name="searchList">
                                <el-table size="small" current-row-key="id" :data="searchList" stripe highlight-current-row>

                                    <el-table-column type="index" align="center" label="序号"></el-table-column>

                                    <el-table-column prop="code" label="股票代码" align="center"></el-table-column>

                                    <el-table-column prop="name" label="股票名称" align="center"></el-table-column>

                                    <el-table-column prop="area" label="所属地区" align="center"></el-table-column>

                                    <el-table-column prop="type" label="股票类型" align="center"></el-table-column>

                                    <el-table-column label="详情" align="center">

                                        <template slot-scope="scope">

                                            <el-button type="primary" size="mini" @click="getDataById(scope.row)">股票详情</el-button>
                                            <el-button type="success" @click="addFav(scope.row)" icon="el-icon-star-off" circle></el-button>

                                        </template>

                                    </el-table-column>

                                </el-table>
                                <div class="pagination-container" style="text-align: center">

                                    <el-pagination
                                            class="pagiantion"

                                            @current-change="handleSearchCurrentChange"

                                            :current-page="pagination1.currentPage"

                                            :page-size="pagination1.pageSize"

                                            layout="total, prev, pager, next, jumper"

                                            :total="pagination1.total">

                                    </el-pagination>

                                </div>
                            </el-tab-pane>
            <el-tab-pane label="股票详情" v-if="stockData" name="dataList"
                         v-loading="loading"
                         element-loading-text="数据加载中。。">
                <el-row :gutter="20">
                    <el-col :span="12"><div class="grid-content bg-purple">
                        <el-dropdown>
                            <el-button type="primary">
                                更新数据<i class="el-icon-arrow-down el-icon--right"></i>
                            </el-button>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item @click.native="updateDataById('half')">更新半年以内</el-dropdown-item>
                                <el-dropdown-item @click.native="updateDataById('one')">更新1年以内</el-dropdown-item>
                                <el-dropdown-item @click.native="updateDataById('five')">更新5年以内</el-dropdown-item>
                                <el-dropdown-item @click.native="updateDataById('ten')">更新10年以内</el-dropdown-item>

                            </el-dropdown-menu>
                        </el-dropdown>
                        <el-button type="success" @click="addFav()" icon="el-icon-star-off" circle></el-button>
                        <el-divider content-position="left">{{stockInfo}}</el-divider>
                        <span>实时价格: <span id="price1">{{price1}}&nbsp;{{tradeChange1}} </span><span> {{tradeTime1}}</span>
                            <el-button style="margin-left: 5px" type="primary" icon="el-icon-refresh" :loading="loadingPrice1"  @click="getPrice1()" circle></el-button>
                            <span id="price1TimeOut">若长时间未加载请重新进入该页面</span></span>
                        <el-table size="small" current-row-key="id" :data="dataList"  border  highlight-current-row :row-class-name="tableRowClassName">

                            <el-table-column type="index" align="center" label="序号" fixed></el-table-column>
                            <el-table-column prop="tradeDate" label="交易日期" fixed width="100px" align="center"
                                             sortable
                                             :default-sort = "{prop: 'date', order: 'descending'}"
                            ></el-table-column>
                            <el-table-column prop="open" label="开盘价" align="center"></el-table-column>
                            <el-table-column prop="high" label="当日最高" align="center"></el-table-column>
                            <el-table-column prop="low" label="当日最低" align="center"></el-table-column>
                            <el-table-column prop="close" label="收盘价" align="center"></el-table-column>
                            <el-table-column prop="preClose" label="昨收价" align="center"></el-table-column>
                            <el-table-column prop="changeAmount" label="涨跌额" align="center"></el-table-column>
                            <el-table-column prop="pctChg" label="涨跌幅(点)" align="center"></el-table-column>
                            <el-table-column prop="vol" label="成交量（手）" align="center"></el-table-column>
                            <el-table-column prop="amount" label="成交额（千元）" align="center"></el-table-column>
                        </el-table>
                        <div class="pagination-container" style="text-align: center">

                            <el-pagination
                                    class="pagiantion"

                                    @current-change="handleDataCurrentChange"

                                    :current-page="pagination2.currentPage"

                                    :page-size="pagination2.pageSize"

                                    layout="total, prev, pager, next, jumper"

                                    :total="pagination2.total">

                            </el-pagination>

                        </div>
                    </div></el-col>
                    <el-col :span="11"> <div class="grid-content bg-purple">

                             <div  style="height:400px; width:630px" v-loading="loading">
                                    <!--                            <el-divider></el-divider>-->
                                    <iframe  id="frame" :src="frUrl" height="100%" width="100%" frameborder="0" scrolling="no"></iframe>

                                </div>
                                </div>


                                <div id="latestNewsOnData" style="height: 400px; width: 600px;overflow: hidden;margin-top: 20px" hidden="true" v-loading="loadingNews">
                                    <el-divider content-position="left">{{stockName}}-最新资讯(数据来源：新浪财经)<el-button style="margin-left: 5px" type="primary" icon="el-icon-refresh" @click="getNews0()" circle></el-button></el-divider>
                                    <el-scrollbar style="height:100%;">
                                        <ul v-for="item in newsListOnData" :key="item">

                                            <li style="list-style: none"><el-link :href="item.link" target="_blank" :underline="false">{{item.title}}</el-link></li>

                                        </ul>
                                    </el-scrollbar>
                                </div>

                   </el-col>
                </el-row>

            </el-tab-pane>

            <el-tab-pane label="收藏列表" v-if="fav" name="favStockList">

<!--                    <el-scrollbar style="height:100%;">-->
<!--                        <ul v-for="item in favStockList" :key="item">-->

<!--                            <li>-->
<!--                                <el-link :underline="false" @click="getDataByIdOnFav(item.code,item.name)">{{item.code}}&nbsp;{{item.name}}</el-link></li>-->

<!--                        </ul>-->
<!--                    </el-scrollbar>-->


                <el-row :gutter="10">
                    <el-col :span="8"><div ><el-table style="width: 800px" size="small" current-row-key="id" :data="favStockList" height="800"  highlight-current-row
                                                      >

                        <el-table-column type="index" align="center" label="序号"></el-table-column>

                        <el-table-column prop="code" label="股票代码" align="center" sortable :default-sort = "{prop: 'code', order: 'descending'}"></el-table-column>

                        <el-table-column prop="name" label="股票名称" align="center"></el-table-column>

                        <el-table-column prop="area" label="所属地区" align="center"></el-table-column>

                        <el-table-column prop="type" label="股票类型" align="center"></el-table-column>

                        <el-table-column label="操作" align="center">

                            <template slot-scope="scope">

                                <el-button type="primary" size="mini" @click="getDataByIdOnFav(scope.row)">股票详情</el-button>
                                <!-- 每一个popover需要传入对应的ref才能作用！！！！-->
                                <el-popover
                                        :ref="'popover-'+scope.$index"
                                        placement="left"
                                        width="160"
                                >
                                    <p>确定取消收藏吗？</p>
                                    <p>该操作不可撤回！！</p>
                                    <div style="text-align: right; margin: 0">
                                        <el-button size="primary" type="mini" @click="closePopover(scope.$index)">取消</el-button>
                                        <el-button type="danger" size="mini" @click="delFav(scope.row,scope.$index)">确定</el-button>
                                    </div>
                                    <el-button type="danger" size="small" slot="reference" @click="openPopover(scope.$index)" icon="el-icon-delete" circle></el-button>
                                </el-popover>


                            </template>

                        </el-table-column>

                    </el-table>
                        <el-card class="box-card" style="width: 350px;margin-top: 5px">
                            <el-descriptions class="margin-top" title="收藏信息" :column="3" size="medium" border>
                                <template slot="extra">
                                </template>
                                <el-descriptions-item>
                                    <template slot="label">
                                        <i class="el-icon-user"></i>
                                        用户名
                                    </template>
                                    <el-tag size="medium">{{loginUser}}</el-tag>

                                </el-descriptions-item>

                                <el-descriptions-item>
                                    <template slot="label">
                                        <i class="el-icon-star-off"></i>
                                        已收藏:
                                    </template>
                                    <el-tag size="medium">{{favCount}}</el-tag>
                                </el-descriptions-item>
                            </el-descriptions>
                        </el-card></div></el-col>
                    <el-col :span="16" v-loading="loadingOnFav" :element-loading-text="loadingText">

                        <div>

                            <div>
                                <div style="font-size: 21px">
                                <el-dropdown>
                                    <el-button type="primary">
                                        更新数据<i class="el-icon-arrow-down el-icon--right"></i>
                                    </el-button>
                                    <el-dropdown-menu slot="dropdown">
                                        <el-dropdown-item @click.native="updateDataByIdOnFav('half')">更新半年以内</el-dropdown-item>
                                        <el-dropdown-item @click.native="updateDataByIdOnFav('one')">更新1年以内</el-dropdown-item>
                                        <el-dropdown-item @click.native="updateDataByIdOnFav('five')">更新5年以内</el-dropdown-item>
                                        <el-dropdown-item @click.native="updateDataByIdOnFav('ten')">更新10年以内</el-dropdown-item>

                                    </el-dropdown-menu>
                                </el-dropdown>

                                    <el-button  type="success" icon="el-icon-download" :loading="loadingDownload" @click="downloadToDesktop()">
                                    下载数据
                                </el-button>

                                <el-popover
                                        placement="right"
                                        width="200"
                                        trigger="hover"
                                        :content="downloadContent">
                                        <i class="el-icon-warning-outline" slot="reference" ></i>
                                </el-popover>

                                    <a id="downloadFile" :href="downloadUrl" :download="fileName" hidden></a>
                                </div>
                                <el-divider content-position="left">{{stockInfoOnFav}} </el-divider>
                                <span>实时价格: <span id="price">{{price}}&nbsp;{{tradeChange}} </span><span> {{tradeTime}}</span>
                                    <el-button style="margin-left: 5px" type="primary" icon="el-icon-refresh" :loading="loadingPrice" @click="getPrice()" circle></el-button>
                                <span id="priceTimeOut">若长时间未加载请重新进入该页面</span></span>
                        <el-table size="small" current-row-key="id" :data="dataListOnFav"   border  highlight-current-row
                                  :row-class-name="tableRowClassName">
                            <el-table-column prop="tradeDate" label="交易日期" align="center"
                                             sortable
                                             :default-sort = "{prop: 'date', order: 'descending'}"
                            ></el-table-column>
                            <el-table-column prop="open" label="开盘价" align="center"></el-table-column>
                            <el-table-column prop="high" label="当日最高" align="center"></el-table-column>
                            <el-table-column prop="low" label="当日最低" align="center"></el-table-column>
                            <el-table-column prop="close" label="收盘价" align="center" sortable :default-sort = "{prop: 'close', order: 'descending'}"></el-table-column>
                            <el-table-column prop="preClose" label="昨收价" align="center"></el-table-column>
                            <el-table-column prop="changeAmount" label="涨跌额" align="center" ></el-table-column>
                            <el-table-column prop="pctChg" label="涨跌幅(点)" align="center" sortable :default-sort = "{prop: 'pctChg', order: 'descending'}"></el-table-column>
                            <el-table-column prop="vol" label="成交量（手）" align="center"></el-table-column>
                            <el-table-column prop="amount" label="成交额（千元）" align="center"></el-table-column>



                        </el-table>
                        <div class="pagination-container" style="text-align: center">

                            <el-pagination
                                    class="pagiantion"

                                    @current-change="handleFavCurrentChange"

                                    :current-page="pagination3.currentPage"

                                    :page-size="pagination3.pageSize"

                                    layout="total, prev, pager, next, jumper"

                                    :total="pagination3.total">

                            </el-pagination>

                        </div>

                            </div>
                            <el-row :gutter="20">

                                <el-col :span="6">
                                    <div class="grid-content bg-purple"><div  style="height:400px; width:630px">
                                    <!--                            <el-divider></el-divider>-->
                                    <iframe  id="frameOnFav" :src="frFavUrl" height="600px" width="1000px" frameborder="0" scrolling="no" ></iframe>

                                </div>
                                </div></el-col>
                                <el-col :span="6" :push="5"><div class="grid-content bg-purple">

                                    <div id="latestNews" style="height: 400px; width: 600px;overflow: hidden;margin-top: 20px" hidden="true" >
                                        <el-divider content-position="left">{{stockNameOnFav}}-最新资讯(数据来源：新浪财经)<el-button style="margin-left: 5px" type="primary" icon="el-icon-refresh" @click="getNews()" circle></el-button></el-divider>
                                        <el-scrollbar style="height:100%;">
                                            <ul v-for="item in newsList" :key="item">

                                                <li style="list-style: none"><el-link :href="item.link" target="_blank" :underline="false">{{item.title}}</el-link></li>

                                            </ul>
                                        </el-scrollbar>
                                    </div>
                                </div></el-col>
                            </el-row>


                    </div></el-col>
                </el-row>

            </el-tab-pane>
        </el-tabs>



</div>

</body>
<!-- import Vue before Element -->
<script src="https://cdn.bootcss.com/vue/2.6.8/vue.min.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script>
    new Vue({
        el: '#app',
        // data:{
        //     //当前页要展示的列表数据
        // },
        created() {
            //调用查询全部数据的操作
            this.getDP();
            this.getUser();
            this.getAll();
            this.getTop();
        },
        data: function() {
            return { visible: false }
        },
        methods: {
            openPopover(index){
                console.log(index);
                this.$refs['popover-'+index].doShow;
            },
            closePopover(index){
                console.log(index);
                this.$refs['popover-'+index].doClose();
            },
            getMyFav(){
                this.loadingText="未选中股票，请从左侧选择股票";
                axios.get("/user/myFav/"+this.loginUser).then((res)=>{
                    this.fav=true;
                    this.favStockList=res.data.data.favList;
                    this.percentage=res.data.data.count/4670*100
                    this.favCount=res.data.data.count
                    this.activeName='favStockList';
                });
            },
            getPrice1(){
                this.loadingPrice1=true;
                this.tradeTime1=null;
                this.price1=null;
                this.tradeChange1=null;
                document.getElementById("price1TimeOut").hidden=false;
                axios.get("/stock/price/"+this.stockName).then((res)=>{
                    this.tradeTime1=res.data.data.time;
                    this.price1=res.data.data.price;
                    this.tradeChange1=res.data.data.change;
                    console.log(this.price);
                    if (res.data.data.color==="green"){
                        document.getElementById("price1").style.color="#00FF00";
                    }else {
                        document.getElementById("price1").style.color="#FF3300";
                    }
                    this.loadingPrice1=false;
                    document.getElementById("price1TimeOut").hidden=true;
                });
            },
            getPrice(){
                this.loadingPrice=true;
                this.tradeTime=null;
                this.price=null;
                this.tradeChange=null;
                document.getElementById("priceTimeOut").hidden=false;
                axios.get("/stock/price/"+this.stockNameOnFav).then((res)=>{
                    document.getElementById("priceTimeOut").hidden=true;
                    this.tradeTime=res.data.data.time;
                    this.price=res.data.data.price;
                    this.tradeChange=res.data.data.change;
                    console.log(this.price);
                    if (res.data.data.color==="green"){
                        document.getElementById("price").style.color="#00FF00";
                    }else {
                        document.getElementById("price").style.color="#FF3300";
                    }
                    this.loadingPrice=false;
                    document.getElementById("priceTimeOut").hidden=true;
                });
            },
            errorMsg(title,msg){
                this.$notify({
                    title: title,
                    message: msg,
                    type: 'error'
                });
            },
            successMsg(title,msg){
                this.$notify({
                    title: title,
                    message: msg,
                    type: 'success',
                    duration: 1000,
                });
            },
            getUser(){
                axios.get("/user/success").then((res)=>{
                    console.log(res.data+"...");
                    if (res.data===""){
                        this.errorMsg('未登录','请登录后使用，谢谢');
                        setTimeout(() =>{
                            window.location.href="login.html";
                        },2000);
                    }else{
                        this.$notify({
                            title: '登录成功',
                            message: '欢迎您: '+res.data,
                            type: 'success',
                        });
                        this.loginUser=res.data;
                    }
                });
            },
            addFav(row){
                if (row==null){
                    axios.get("/user/addFav/"+this.loginUser+"/"+this.stockCode).then((res)=>{
                        // console.log(res.data+"...");
                        this.successMsg('',res.data.data);
                    });
                }else{
                    axios.get("/user/addFav/"+this.loginUser+"/"+row.code).then((res)=>{
                        // console.log(res.data+"...");
                        this.successMsg('',res.data.data);
                    });
                }

            },
            delFav(row,index){

                axios.get("/user/delFav/"+this.loginUser+"/"+row.code).then((res)=>{
                    // console.log(res.data+"...");
                    this.successMsg('',res.data.data);
                    this.getMyFav();
                    console.log(index);
                    this.closePopover(index);
                });
            },
            Kline(){
                this.frUrl=null;
                this.loading=true;
                axios.get("/stock/kline/"+this.stockCode).then((res)=>{
                    setTimeout(() =>{
                        this.openMsg("加载成功","success");
                        this.frUrl="/"+this.stockName+"K线.html";
                        this.loading=false;
                    },2000);
                });


            },
            KlineOnFav(){
                this.frFavUrl=null;
                this.loadingKlineOnFav=true;
                axios.get("/stock/kline/"+this.stockCodeOnFav).then((res)=>{
                        setTimeout(() =>{
                        this.openMsg("加载成功","success");
                        this.frFavUrl="/"+this.stockNameOnFav+"K线.html";
                        this.loadingKlineOnFav=false;
                        },2000);
                });


            },
            getDataByIdOnFav(row){
                if (row!=null){
                    this.loadingPrice=true;
                    this.loadingOnFav=true;
                    this.dataListOnFav=null;
                    this.tradeTime=null;
                    this.price=null;
                    this.tradeChange=null;
                    this.frFavUrl=null;
                    this.stockInfoOnFav=null;
                    this.loadingText="正在加载数据，请稍后...";
                    this.pagination3.currentPage=1;
                    document.getElementById("latestNews").hidden=true;
                    axios.get("/stock/fav/"+row.name+"/"+row.code).then((res)=>{
                        document.getElementById("latestNews").hidden=false;
                        this.stockInfoOnFav=row.name+' '+row.code;
                        this.stockCodeOnFav=row.code;
                        this.stockNameOnFav=row.name;
                        if (res.data.data.color==="green"){
                            document.getElementById("price").style.color="#00FF00";
                        }else {
                            document.getElementById("price").style.color="#FF3300";
                        }

                        this.tradeTime=res.data.data.time;
                        this.price=res.data.data.price;
                        this.tradeChange=res.data.data.change;
                        this.newsList=res.data.data.newList;
                        this.dataListOnFav=res.data.data.Ipage.records;
                        this.pagination3.currentPage=res.data.data.current;
                        this.pagination3.total=res.data.data.total
                        this.dataListOnFav=res.data.data.Ipage.records;
                        this.pagination3.currentPage=res.data.data.Ipage.current;
                        this.pagination3.total=res.data.data.Ipage.total
                        this.frFavUrl="/"+this.stockNameOnFav+"K线.html";
                        this.loadingOnFav=false;
                        if (this.price!=null){
                            this.loadingPrice=false;
                        }
                        document.getElementById("priceTimeOut").hidden = this.price != null;
                    });
                }else if (row==null) {
                    this.loadingOnFav=false;
                    axios.get("/stock/data/" + this.pagination3.currentPage + "/" + this.pagination3.pageSize + "/" + this.stockCodeOnFav).then((res) => {
                        console.log(res);
                        this.dataListOnFav = res.data.data.records;
                        this.pagination3.currentPage = res.data.data.current;
                        this.pagination3.total = res.data.data.total
                        this.stockInfoOnFav = row.name + ' ' + row.code;
                        this.stockCodeOnFav = row.code;
                        this.stockNameOnFav = row.name;
                    });
                }
                },
            getDataById(row){

                this.stockData=true;

                if (row!=null){
                    this.pagination2.currentPage=1;
                    axios.get("/stock/data/"+this.pagination2.currentPage+"/"+this.pagination2.pageSize+"/"+row.code).then((res)=>{
                        this.dataList=res.data.data.records;
                        this.pagination2.currentPage=res.data.data.current;
                        this.pagination2.total=res.data.data.total
                        this.activeName='dataList';
                        this.openMsg("加载成功","success");
                        this.stockInfo=row.name+' '+row.code;
                        this.stockCode=row.code;
                        this.stockName=row.name;
                        this.updateDataById();
                        if (this.dataList.length===0){
                            this.updateDataById()
                        }
                        document.getElementById("latestNewsOnData").hidden=true;
                        this.getPrice1();
                        this.getNews0();
                        this.Kline();
                    });
                }else if (row==null) {
                    axios.get("/stock/data/" + this.pagination2.currentPage + "/" + this.pagination2.pageSize + "/" + this.stockCode).then((res) => {
                        console.log(res);
                        this.dataList = res.data.data.records;
                        this.pagination2.currentPage = res.data.data.current;
                        this.pagination2.total = res.data.data.total
                        console.log(res.data.data.total);
                        this.activeName = 'dataList';
                        this.openMsg("加载成功","success");
                        this.stockInfo = row.name + ' ' + row.code;
                        this.stockCode = row.code;
                        this.stockName = row.name;
                    });
                }
            },
            updateDataById(start){
                this.loading=true
                axios.get("/stock/data/"+this.stockCode+"/"+start).then((res)=>{
                    this.loading=false;
                    axios.get("/stock/data/"+this.pagination2.currentPage+"/"+this.pagination2.pageSize+"/"+this.stockCode).then((res)=>{
                        console.log(this.stockCode);
                        this.dataList=res.data.data.records;
                        this.pagination2.currentPage=res.data.data.current;
                        this.pagination2.total=res.data.data.total
                        this.activeName='dataList';
                        this.openMsg("加载成功","success");
                    });
                });
            },
            updateDataByIdOnFav(start){
                this.loadingOnFav=true
                this.loadingText="正在加载数据，请稍后...";
                axios.get("/stock/data/"+this.stockCodeOnFav+"/"+start).then((res)=>{
                    this.loadingOnFav=false;
                    axios.get("/stock/data/"+this.pagination3.currentPage+"/"+this.pagination3.pageSize+"/"+this.stockCodeOnFav).then((res)=>{
                        this.dataListOnFav=res.data.data.records;
                        this.pagination3.currentPage=res.data.data.current;
                        this.pagination3.total=res.data.data.total
                        this.openMsg("加载成功","success");
                    });
                });
            },
            downloadToDesktop(){
                this.loadingDownload=true;
                axios.get("/stock/data/download/"+this.stockCodeOnFav).then((res)=>{
                    this.downloadUrl="/stockData/"+this.stockNameOnFav+".csv"
                    this.fileName=this.stockNameOnFav+".csv"
                    setTimeout(() =>{
                        document.getElementById("downloadFile").click();
                        this.loadingDownload=false;
                        this.openMsg("已开始下载","success");
                    },2000);



                });
            },
            confirmLogOut() {
                this.$confirm('确认退出?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.$message({
                        type: 'success',
                        message: '退出成功!'
                    });
                    setTimeout(() =>{//延迟执行
                        window.location.href="login.html";
                    },500);

                }).catch(() => {

                });
            },
            handleChange(val) {
                console.log(val);
            },
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleCurrentChange(currentPage) {
                //修改页码值为当前选中的页码值
                this.pagination.currentPage = currentPage;
                //执行查询
                this.getAll();
            },
            handleSearchCurrentChange(currentPage) {
                //修改页码值为当前选中的页码值
                this.pagination1.currentPage = currentPage;
                //执行查询
                this.searchData();
            },
            handleDataCurrentChange(currentPage) {
                //修改页码值为当前选中的页码值
                this.pagination2.currentPage = currentPage;
                //执行查询
                this.getDataById();
            },
            handleFavCurrentChange(currentPage) {
                //修改页码值为当前选中的页码值
                this.pagination3.currentPage = currentPage;
                //执行查询
                this.getDataByIdOnFav();
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClick(tab, event) {
                console.log(tab, event);
                if (this.activeName=="favStockList"){
                    this.getMyFav();
                }
            },
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            openMsg(msg,type) {
                this.$message({
                    message:msg,
                    type: type,
                    duration: '1000'
                })

            },

            getAll() {
                //组织参数，拼接url请求地址
                // console.log(this.pagination.type);
                // param = "?type="+this.pagination.type;
                // param +="&name="+this.pagination.name;
                // param +="&description="+this.pagination.description;
                // console.log(param);
                axios.get("/stock/list/"+this.pagination.currentPage+"/"+this.pagination.pageSize).then((res)=>{
                    // this.pagination.pageSize = res.data.data.size;
                    // this.pagination.currentPage = res.data.data.current;
                    // this.pagination.total = res.data.data.total;
                    //
                    // this.dataList = res.data.data.records;
                    console.log(res);
                    this.activeName='stockList';
                    this.stockList=res.data.data.records;
                    this.pagination.currentPage=res.data.data.current;
                    this.pagination.total=res.data.data.total
                    console.log(res.data.data.total);
                });
        },
            getTop() {
                axios.get("/stock/top").then((res)=>{
                    this.topList=res.data.data.topList;
                    this.topDate=res.data.data.date;
                });
            },
            searchData(page) {
                if (this.input==null){
                    this.openMsg("请输入搜索的内容！","error");
                }else {
                    if (page!=null){
                        this.pagination1.currentPage =1
                    }

                    axios.get("/stock/search/"+this.pagination1.currentPage+"/"+this.pagination1.pageSize+"/"+this.input).then((res)=>{
                        console.log(res);
                        this.searchList=res.data.data.records;
                        this.pagination1.currentPage=res.data.data.current;
                        this.pagination1.total=res.data.data.total;
                        this.activeName='searchList';
                        console.log(res.data.data.total);
                        this.openMsg("加载成功","success");
                        this.hideSearch=true;
                        // this.input=null;
                    });
                }

            },
            getDP() {
                    axios.get("/stock/dp").then((res)=>{
                        const elementById = document.getElementById("dpType");
                        const state = document.getElementById("dpState");
                        this.dp=res.data.data.dp;
                        this.dpChange=res.data.data.change;
                        if (res.data.data.color===0){
                           elementById.style.color="#00FF00";
                           state.setAttribute("class","el-icon-bottom");
                        }else{
                            elementById.style.color="#FF3300";
                            state.setAttribute("class","el-icon-top");
                        }
                        // this.input=null;
                    });
                setTimeout(() =>{//延迟执行
                    this.getDP();
                },1000*60);


            },
            getNews() {
                this.loadingNews=true;
                axios.get("/stock/news/"+this.stockNameOnFav).then((res)=>{
                    this.loadingNews=false;
                    this.openMsg("刷新成功","success");
                    this.newsList=res.data.data.newList;
                    console.log(this.newsList);
                    document.getElementById("latestNews").hidden=false;
                });

            },
            getNews0() {
                this.loadingNews=true;
                axios.get("/stock/news/"+this.stockName).then((res)=>{
                    this.loadingNews=false;
                    this.openMsg("刷新成功","success");
                    this.newsListOnData=res.data.data.newList;
                    document.getElementById("latestNewsOnData").hidden=false;
                });

            },
            tableRowClassName({row, rowIndex}) {
                // const elementById = document.getElementById("dataState");
                if (row.pctChg <0) {
                    // elementById.setAttribute("class","el-icon-bottom");
                    return 'warning-row';
                } else if (row.pctChg >=0) {

                    // elementById.setAttribute("class","el-icon-top");
                    return 'success-row';
                }
                return '';
            }

        },
        data() {
            const item = {
            };
            return {
                loadingText:null,
                loadingPrice1:false,
                loadingPrice:false,
                price:'',
                tradeTime:'',
                tradeChange:'',
                price1:'',
                tradeTime1:'',
                tradeChange1:'',
                topDate:'',
                loadingNews:false,
                newsListOnData:[],
                dp:'',
                dpChange:'',
                fileName:'',
                downloadUrl:'',
                downloadContent:'下载当前股票所有数据',
                loadingKlineOnFav:false,
                loadingDownload:false,
                loadingOnFav:true,
                favCount: null,
                hideSearch: false,
                fav: false,
                kline: false,
                stockData: false,
                stream:'',
                // visible1: false,
                loginUser:'null',
                stockName:'',
                stockNameOnFav:'',
                frUrl:'',
                frFavUrl:'',
                stockCode:'',
                stockInfo:'',
                stockCodeOnFav:'',
                stockInfoOnFav:'',
                loading: false,
                tabPosition: 'left',
                activeNames: ['1'],
                input: null,
                newsList:[],
                dataListOnFav:[],
                favStockList: [],
                stockList: [],
                searchList: [],
                dataList: [],
                topList: [],
                activeIndex: '1',
                activeIndex2: '1',
                activeName: 'stockList',
                tableData: Array(20).fill(item),
                pagination: {//分页相关模型数据
                    currentPage:1 ,//当前页码
                    pageSize:13,//每页显示的记录数
                    total:0,//总记录数
                    type: "",
                    name: "",
                    description: ""
                },
                pagination1: {//分页相关模型数据
                    currentPage:1 ,//当前页码
                    pageSize:13,//每页显示的记录数
                    total:0,//总记录数
                    type: "",
                    name: "",
                    description: ""
                },
                pagination2: {//分页相关模型数据
                    currentPage:1 ,//当前页码
                    pageSize:13,//每页显示的记录数
                    total:0,//总记录数
                    type: "",
                    name: "",
                    description: ""
                },
                pagination3: {//分页相关模型数据
                    currentPage:1 ,//当前页码
                    pageSize:6,//每页显示的记录数
                    total:0,//总记录数
                    type: "",
                    name: "",
                    description: ""
                },


            }
        },


    })
</script>

</html>